.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
 padding: 10px;
}
/* .dialog{
} */
.active{
    background-color: gold;
}
.messages{
padding: 10px;
}
.dialog a.activeLink {
    color: gold;
  }